html,
body {
  background: $light;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $green;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6ca023;
}

.large-title {
  color: $darkBlue;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}
