.pay-card {
  padding: 24px 24px 24px 43px;
  max-width: max-content;
  background-color: $white;
  display: flex;
  gap: 50px;
  border-radius: 15px;
  overflow-y: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__wrapper {
    display: flex;
    gap: 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-title {
      padding: 6px 20px;
      color: $white;
      max-width: max-content;
      border-radius: 30px;
      font-size: 22px;
      font-weight: 500;
    }

    &-inner {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &__price {
    font-size: 14px;
    font-weight: 600;
  }

  &__btn {
    color: $white;
    padding: 8px 47px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 16px;
  }
}
